img.app_button {
    background-color: black;
    border: 0px none;
    width: 36px;
    height: 36px;
}

.notbold {
    font-weight: normal;
}

.italicnotbold {
    font-style: italic;
    font-weight: normal;
}

.italic {
    font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 1.1em;
    margin-bottom: 0.5em;
}

p, ul {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.footnote {
  font-style: italic;
  font-size: 90%;
}

.superscrit {
  font-size: 60%;
  vertical-align: super;
}

footer.padrao {
  font-size: 80%;
  font-style: italic;
  clear: both;
}
